/* CSS style sheet for little lemon restaurant */

body {
    background-color: #EDEFEE;
    font-family: Arial, Helvetica, sans-serif;
    margin: 3rem 5% 3rem 5%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

header > img {
    max-width: 100%;
}

.imgSwitch {
    display: inline-block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.switch {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.imgSwitch:hover .switch {
    display: inline;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
	padding-top: 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-size: 2rem;
    gap: 5px;
}

nav li {
    margin: 30px;
}

nav a {
    text-align: center;
    flex: 1;
	background-color: #495e57;
	width: auto;
    padding: 20px;
	margin-right: 1.5px;
	border-radius: 5%;
	border-color: #f3cb14;
	border-style: solid;
    text-decoration: none;
}

nav a:link {
    color: #EDEFEE;
}

nav a:visited {
    color: #EDEFEE;
    background-color: #9b943e;
}

nav a:hover {
    color: #495e57;
    background-color: #EDEFEE;
}

nav a:active {
    color: #495e57;
    background-color: #EDEFEE;
}

section {
    display: flex;
}

article {
    flex: 1;
    padding: 8px;
}

.lemonPhotos {
    text-align: center;
}

.lemonPhotos img {
    width: 30px;
}

h2 {
    color: #EDEFEE;
    background-color: #495e57;
    text-align: center;
    border: 2px solid #9b943e;
}

footer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding: 5px;
    margin: auto;
}

footer div {
    display: flex;
    flex: 1;
    justify-content: center; 
}

footer img {
    max-width: 45%;
    justify-self: center;
}

div > p {
    display: flex;
    justify-self: center;
}